# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  # Navigation
  { on = "l", run = "plugin smart-enter", desc = "Enter the child directory or open the file" },

  # Operations
  { on = "d", run = '''shell --confirm -- gtrash put "$@"''', desc = "Trash selected files" },
  { on = "<backspace>", run = "hidden toggle", desc = "Toggle the visibility of hidden files" },

  ## Rename Operations
  { on = [
    "r",
    "r",
  ], run = "rename --cursor=before_ext", desc = "Rename selected file(s)" },
  { on = [
    "r",
    "s",
  ], run = "rename --hovered --empty=stem --cursor=start", desc = "Change the stem of selected file" },
  { on = [
    "r",
    "e",
  ], run = "rename --hovered --empty=ext --cursor=end", desc = "Change the extension of selected file" },

  # Goto
  { on = [
    "g",
    "h",
  ], run = "cd ~", desc = "Home directory" },
  { on = [
    "g",
    "C",
  ], run = "cd ~/.config", desc = ".config directory" },
  { on = [
    "g",
    "d",
  ], run = "cd ~/dl", desc = "Downloads" },
  { on = [
    "g",
    "m",
  ], run = "cd /run/media/skarphet/", desc = "Go to connected mediums" },
  { on = [
    "g",
    "<Space>",
  ], run = "cd --interactive", desc = "Go to a directory interactively" },

  # Relative motions
  { on = "1", run = "plugin relative-motions -- 1", desc = "Move in relative steps" },
  { on = "2", run = "plugin relative-motions -- 2", desc = "Move in relative steps" },
  { on = "3", run = "plugin relative-motions -- 3", desc = "Move in relative steps" },
  { on = "4", run = "plugin relative-motions -- 4", desc = "Move in relative steps" },
  { on = "5", run = "plugin relative-motions -- 5", desc = "Move in relative steps" },
  { on = "6", run = "plugin relative-motions -- 6", desc = "Move in relative steps" },
  { on = "7", run = "plugin relative-motions -- 7", desc = "Move in relative steps" },
  { on = "8", run = "plugin relative-motions -- 8", desc = "Move in relative steps" },
  { on = "9", run = "plugin relative-motions -- 9", desc = "Move in relative steps" },

  { on = "T", run = "plugin toggle-pane max-preview", desc = "Maximize or restore preview pane" },

  { on = [
    "f",
    "G",
  ], run = "plugin fg", desc = "find file by content (fuzzy match)" },
  { on = [
    "f",
    "g",
  ], run = "plugin fg -- rg", desc = "find file by content (ripgrep match)" },

  { on = [
    "f",
    "f",
  ], run = "plugin fg -- fzf", desc = "find file by filename" },
  { on = "<C-f>", run = "plugin fg  -- fzf", desc = "find file by filename" },

  # dragon-drop 
  { on = "<C-n>", run = '''
  shell --confirm -- dragon-drop -x -a -T "$@"
  ''', desc = "Open with dragon (drag-and-drop)" },
  { on = [
    "c",
    "n",
  ], run = '''
  shell --confirm -- dragon-drop -x -a -T "$@"
  ''', desc = "Open with dragon (drag-and-drop)" },
  { on = [
    "c",
    "N",
  ], run = '''
  shell --orpan --confirm -- cp -r "$(dragon-drop -t -p -x)" .
  ''', desc = "Open current directory with dragon as target (drag-and-drop)" },
  # send with qrcp
  { on = [
    "c",
    "p",
  ], run = '''
  shell --confirm --block -- qrcp --interface wlan0 "$@"
  ''', desc = "Send with qrcp" },
  # compress with ouch
  { on = [
    "C",
    "z",
  ], run = "plugin ouch -- zip", desc = "Compress to .zip with Ouch" },
  { on = [
    "C",
    "t",
  ], run = "plugin ouch -- tar.gz", desc = "Compress to .tar with Ouch" },
  # others
  { on = [
    "c",
    "m",
  ], run = "plugin chmod", desc = "Chmod on selected files" },
  { on = [
    "g",
    "R",
  ], run = "plugin vcs-files", desc = "Show Git file changes" },
]

[input]
prepend_keymap = [{ on = "<Esc>", run = "close", desc = "Cancel input" }]
