
    @define-color background #151311;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #33302d;

    @define-color inverse_primary #6b5c48;

    @define-color inverse_surface #e8e1dd;

    @define-color on_background #e8e1dd;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #3b2e1d;

    @define-color on_primary_container #f5dfc6;

    @define-color on_primary_fixed #241a0a;

    @define-color on_primary_fixed_variant #524532;

    @define-color on_secondary #382f24;

    @define-color on_secondary_container #efe0cf;

    @define-color on_secondary_fixed #221a10;

    @define-color on_secondary_fixed_variant #4f4539;

    @define-color on_surface #e8e1dd;

    @define-color on_surface_variant #cbc5c1;

    @define-color on_tertiary #3e2e16;

    @define-color on_tertiary_container #fadebc;

    @define-color on_tertiary_fixed #271904;

    @define-color on_tertiary_fixed_variant #56442a;

    @define-color outline #95908c;

    @define-color outline_variant #494643;

    @define-color primary #d8c3ab;

    @define-color primary_container #524532;

    @define-color primary_fixed #f5dfc6;

    @define-color primary_fixed_dim #d8c3ab;

    @define-color scrim #000000;

    @define-color secondary #d3c4b4;

    @define-color secondary_container #4f4539;

    @define-color secondary_fixed #efe0cf;

    @define-color secondary_fixed_dim #d3c4b4;

    @define-color shadow #000000;

    @define-color source_color #82715b;

    @define-color surface #151311;

    @define-color surface_bright #3c3936;

    @define-color surface_container #221f1d;

    @define-color surface_container_high #2c2927;

    @define-color surface_container_highest #373432;

    @define-color surface_container_low #1d1b19;

    @define-color surface_container_lowest #100e0c;

    @define-color surface_dim #151311;

    @define-color surface_tint #d8c3ab;

    @define-color surface_variant #494643;

    @define-color tertiary #ddc2a1;

    @define-color tertiary_container #56442a;

    @define-color tertiary_fixed #fadebc;

    @define-color tertiary_fixed_dim #ddc2a1;

