@import url("./colors.css");

#syshud {
  background: transparent;
}

#syshud .box_layout {
  background: alpha(@surface_container, 0.7);
  border-radius: 25px;
  border: 1px solid @borders;
  margin: 10px;
}

#syshud scale {
  margin: 0px;
  padding: 0px;
}
#syshud label {
  color: alpha(@on_background, 0.9);
}

/* Horizontal layout */
#syshud scale.horizontal {
  padding: 0px;
  min-height: 5px;
}
#syshud scale.horizontal trough {
  border-radius: 3px;
  background: alpha(@primary, 0.8);
  min-height: 5px;
  padding: 0px;
}
#syshud scale.horizontal highlight {
  border-radius: 3px;
  min-height: 5px;
  background: alpha(@on_background, 0.9);
  margin: 0px;
}
#syshud scale.horizontal slider {
  margin: 0px;
  background: transparent;
  min-height: 5px;
  box-shadow: none;
  padding: 0px;
}

/* Vertical layout */
#syshud scale.vertical {
  padding: 0px;
  min-width: 5px;
}
#syshud scale.vertical trough {
  border-radius: 3px;
  background: alpha(@primary, 0.8)
  min-width: 5px;
  padding: 0px;
}
#syshud scale.vertical highlight {
  border-radius: 3px;
  min-width: 5px;
  background: alpha(@on_background, 0.9);
  margin: 0px;
}
#syshud scale.vertical slider {
  margin: 0px;
  background: transparent;
  min-width: 5px;
  box-shadow: none;
  padding: 0px;
}

/* Levels */
#syshud .muted {
}
#syshud .low {
}
#syshud .medium {
}
#syshud .high {
}
