[Unit]
Description=Backs up files every thirty minutes
Wants=backupDrive.timer

[Service]
User=<your username>
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/<your username>/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/home/<your username>/to/backup/script

[Install]
WantedBy=multi-user.target
