[Unit]
Description=Change wallpaper based on sunrise-sunset time
Requires=wallpaperTheme.service

[Timer]
Unit=wallpaperTheme.service
OnCalendar=*:00,10,20,30,40,50

[Install]
WantedBy=timers.target
