layout {
    gaps 3
    background-color "transparent"
    center-focused-column "on-overflow"
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
    }

    default-column-width { proportion 0.5; }

    border {
        width 2
        active-color "{{colors.primary.dark.hex}}"
        inactive-color "{{colors.on_secondary_fixed_variant.dark.hex}}"
        urgent-color "{{colors.error_container.dark.hex}}"
    }

    focus-ring {
      off
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    insert-hint {
        color "#{{colors.primary.dark.hex_stripped}}aa"
    }
}
