div > .vimiumHintMarker {
/* linkhint boxes */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,{{colors.secondary_fixed.dark.hex}}),
  color-stop(100%,{{colors.primary.dark.hex}}));
border: 1px solid {{colors.primary.dark.hex}};
}

div > .vimiumHintMarker span {
/* linkhint text */
color: black;
font-weight: bold;
font-size: 12px;
}

#vimium-hint-marker-container div span.matchingCharacter {
    color: {{colors.source_color.dark.hex}};
}

div > .vimiumHintMarker > .matchingCharacter {
}
